/* Start Import Fonts */

/* Railway */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* End Import Fonts */

/* **********************************************************************
   **********************************************************************
   **********************************************************************
   **********************************************************************
   **********************************************************************
*/

/* Start css variables */
:root {
  --bg--color: rgba(0, 0, 0, 0.15);
  --header--bg--color: rgba(0, 0, 0, 0.85);
  --header--navigation--text--color: rgba(255, 255, 255, 0.9);
  --bg--overlay--color--desktop: rgba(0, 0, 0, 0.55);
  --bg--overlay--color--mobile: rgba(0, 0, 0, 0.5);
  --bg--navigation--color--mobile: rgba(0, 0, 0, 0.65);
  --button--nav--active--color: #005b96;

  --desktop--background--size: 100%;
  --mobile--background--size: 60%;
}
/* End css variables */

/* Start Initialize/reset styling */
*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  line-height: 160%;
  letter-spacing: 1.2px;
  color: rgba(0, 0, 0, 0.6);
}

.portfolio--container {
  height: 100vh;
  width: 100%;
  background-color: var(--bg--color);
  position: relative;
}
/* End Initialize/reset styling */

/* **********************************************************************
   **********************************************************************
   **********************************************************************
   **********************************************************************
   **********************************************************************
   **********************************************************************
   **********************************************************************
   **********************************************************************
   **********************************************************************
   **********************************************************************
*/

/* Start portfolio--header */

.portfolio--bg--overlay {
  background-color: var(--bg--overlay--color--mobile);
  position: absolute;
  top: 0;
  width: 100%;
  height: var(--mobile--background--size);
}

.portfolio--bg--image {
  position: relative;
  width: 100%;
  height: var(--mobile--background--size);
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -10;
}

.portfolio--downward--chevron--container {
  height: 40px;
  padding: 0px;
  margin: 0px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: -20px;
}

.portfolio--downward--chevron {
  background: rgb(0, 0, 0, 0.8);
  border: 1px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0px;
  padding: 0px;
}

.portfolio--hero--section {
  /* background: red; */
  /* color: white; */
  position: absolute;
  top: 50px;
  height: calc(100% - 60px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6em;
}

.portfolio--header {
  position: fixed;
  top: -2.5px;
  left: 0;
  right: 0;
  padding: 5% 7%;
  padding-bottom: 0px;
  margin-bottom: 0px;
  height: 60px;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.45);
}

.portfolio--heading,
.portfolio--menu--bar > label > span,
.portfolio--header > nav > ul > li,
.portfolio--header > nav > ul > li > a {
  color: var(--header--navigation--text--color);
}

.portfolio--heading {
  font-weight: 700;
  font-size: x-large;
  height: 60px;
  display: flex;
  align-items: center;
  position: absolute;
  top: -2.5px;
  transform: skewX(-18deg);
  z-index: 999;
}

/* Start Menu Bar */
.portfolio--menu--bar--checkbox {
  display: none;
}

.portfolio--menu--bar--checkbox:checked ~ nav {
  opacity: 1; /* show menu/nav */
  transform: scale(1, 1); /* scale(X, Y) */
  transition: transform 400ms ease-in-out 150ms;
  background: var(--bg--navigation--color--mobile);
  backdrop-filter: blur(2px);
  height: calc(100% * 4);
}

.portfolio--menu--bar--checkbox:checked
  ~ .portfolio--menu--bar
  > label
  > span::before {
  transform: rotate(-45deg);
  bottom: 0px;
}
.portfolio--menu--bar--checkbox:checked
  ~ .portfolio--menu--bar
  > label
  > span::after {
  transform: rotate(45deg);
  top: 0px;
}

.portfolio--menu--bar--checkbox:checked ~ .portfolio--menu--bar > label > span {
  background: transparent;
}

.portfolio--menu--bar--checkbox:checked ~ .portfolio--menu--bar > label > span {
  width: 10px;
}

.portfolio--menu--bar--checkbox:checked ~ nav li {
  opacity: 1;
  transform: translateX(0px);
  transition: transform 800ms ease-in-out 100ms,
    opacity 1000ms ease-in-out 650ms;
}

.portfolio--menu--bar > label {
  position: absolute;
  top: -2.5px;
  right: 0;
  margin-right: 7%;
  margin-top: 10px;
  height: 40px;
  width: 45px;
  padding-right: 20px;
  padding-left: 9px;
  display: flex;
  align-items: center;
  border: 1.5px solid white;
  border-radius: 7px;
}

.portfolio--menu--bar > label > span,
.portfolio--menu--bar > label > span::before,
.portfolio--menu--bar > label > span::after {
  display: block;
  background: white;
  height: 1.5px;
  width: 15px;
  border-radius: 5px;
  position: relative;
  padding: 0px;
  margin: 0px;
}

.portfolio--menu--bar > label {
  transform: rotate(180deg);
}

.portfolio--menu--bar > label > span::before,
.portfolio--menu--bar > label > span::after {
  content: "";
  position: absolute;
  width: 25px;
}

.portfolio--menu--bar > label > span::before {
  bottom: 7px;
}

.portfolio--menu--bar > label > span::after {
  top: 7px;
}

/* End Menu Bar */

/* Start Nav */

/* Animation properties - Scale translate Rotate anad Opacity */
.portfolio--header > nav {
  position: absolute;
  opacity: 0;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 1em 2em;
  transform: scale(1, 0); /* scale (X, Y) */
  transform-origin: top;
  transition: transform 400ms ease-in-out 150ms;
}

.portfolio--header > nav > ul > li {
  list-style: none;
  margin-bottom: 2em;
  text-align: left;
  text-transform: uppercase;
  opacity: 0;
  transform: translateX(-200px);
  transition: transform 250ms ease-in-out, opacity 250ms ease-in-out;
}

.portfolio--header > nav > ul > li:last-child {
  margin-bottom: 0px;
}

/*  */

.portfolio--header > nav > ul > li > a:hover {
  color: var(--button--nav--active--color);
}

.portfolio--header > nav > ul > li > a::after {
  content: "";
  position: absolute;
  left: -2px;
  right: 2px;
  bottom: -5px;
  background: white;
  height: 2px;
  transform-origin: center;
  transform: scale(1, 1); /* X, Y */
}

.portfolio--header > nav > ul > li > a:hover::after {
  transform: scale(1, 1); /* X, Y */
  transition: transform 250ms ease-in-out 150ms;
}

.portfolio--nav--active {
  color: var(--button--nav--active--color) !important;
}

.portfolio--nav--active::after {
  transform: scale(1, 1) !important; /* X, Y */
  background: var(--button--nav--active--color) !important;
}

/*  */

/* End Nav */

/* Start Tablets and Desktops */

@media only screen and (min-width: 600px) {
  .portfolio--bg--overlay {
    height: var(--desktop--background--size);
    background-color: var(--bg--overlay--color--desktop);
  }

  .portfolio--bg--image {
    height: var(--desktop--background--size);
  }

  .portfolio--hero--section {
    /* height: var(--desktop--background--size); */
  }

  .portfolio--menu--bar--checkbox:checked ~ nav,
  .portfolio--header {
    background-color: var(--bg--overlay--color--desktop);
    backdrop-filter: blur(0px);
  }

  .portfolio--header {
    position: absolute;
    padding: 20px;
    margin: 1.5% 0px;
    margin-bottom: 0px;
    padding: 0px 10%;
    padding-bottom: 0px;
    height: 60px;
  }

  .portfolio--menu--bar {
    display: none;
  }

  .portfolio--header > nav {
    display: block;
    opacity: 1;
    transform: scale(1, 1); /* X, Y */
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0px 10%;
  }

  .portfolio--header > nav > ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: none;
  }

  .portfolio--header > nav > ul > li {
    margin-bottom: 0px;
    margin-left: 2em;
    opacity: 1;
    transform: translateX(0px);
  }

  .portfolio--header > nav > ul > li > a::after {
    background: var(--button--nav--active--color);
    transform: scale(0, 1); /* X, Y */
  }

  .portfolio--header > nav > ul > li > a {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: small;
  }

  .portfolio--heading {
    font-size: x-larger;
    top: 0px;
  }
}

@media only screen and (min-width: 700px) {
  .portfolio--heading {
    font-size: xx-large;
  }

  .portfolio--header > nav > ul > li > a {
    font-size: medium;
  }
}
/* End Tablets and Desktops */

/* End portfolio--header */

/* **********************************************************************
   **********************************************************************
   **********************************************************************
   **********************************************************************
   **********************************************************************
   **********************************************************************
   **********************************************************************
   **********************************************************************
   **********************************************************************
   **********************************************************************
*/

/* Start Tablets and Desktops */
@media only screen and (min-width: 480px) {
}
/* End Tablets and Desktops */

/*  */
/*  */
/*  */

body {
  perspective: 500px; /* 500px away from the center of the axis of the animation */
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animate 6s ease-in-out;
}

@keyframes animate {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }

  100% {
    transform: scale(1, 1);
    opacity: 1;
    transition: opacity 1s ease-in-out 800ms;
  }
}

.panel {
  --_width: 16px; /* 100px */

  /* border: 1px solid white; */
  width: var(--_width);
  height: 50px;
  position: relative;

  animation: rotate 6s var(--delay) infinite ease-in-out alternate;
  overflow: hidden;
}

@keyframes rotate {
  0%,
  10% {
    transform: rotateX(0deg);
  }
  90%,
  100% {
    transform: rotateX(360deg);
  }
}

.panel::before {
  position: absolute;
  content: "Andile";
  width: max-content;
  /* color: hsl(var(--hue), 75%, 75%); */

  background: -webkit-linear-gradient(
    rgba(255, 255, 255, 1),
    #005b96,
    rgba(255, 255, 255, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  top: -25px;
  left: var(--left);
}

.panel:nth-child(1) {
  --left: calc(var(--_width) * 0 * -1);
  --hue: calc(360 / 12 * 1);
  --delay: calc(0.1s * 1);
}

.panel:nth-child(2) {
  --left: calc(var(--_width) * 1 * -1);
  --hue: calc(360 / 12 * 2);
  --delay: calc(0.1s * 2);
}

.panel:nth-child(3) {
  --left: calc(var(--_width) * 2 * -1);
  --hue: calc(360 / 12 * 3);
  --delay: calc(0.1s * 3);
}

.panel:nth-child(4) {
  --left: calc(var(--_width) * 3 * -1);
  --hue: calc(360 / 12 * 4);
  --delay: calc(0.1s * 4);
}

.panel:nth-child(5) {
  --left: calc(var(--_width) * 4 * -1);
  --hue: calc(360 / 12 * 5);
  --delay: calc(0.1s * 5);
}

.panel:nth-child(6) {
  --left: calc(var(--_width) * 5 * -1);
  --hue: calc(360 / 12 * 6);
  --delay: calc(0.1s * 6);
}

/*  */

.panel:nth-child(7) {
  --left: calc(var(--_width) * 6 * -1);
  --hue: calc(360 / 12 * 7);
  --delay: calc(0.1s * 7);
}

.panel:nth-child(8) {
  --left: calc(var(--_width) * 7 * -1);
  --hue: calc(360 / 12 * 8);
  --delay: calc(0.1s * 8);
}

.panel:nth-child(9) {
  --left: calc(var(--_width) * 8 * -1);
  --hue: calc(360 / 12 * 9);
  --delay: calc(0.1s * 9);
}

.panel:nth-child(10) {
  --left: calc(var(--_width) * 9 * -1);
  --hue: calc(360 / 12 * 10);
  --delay: calc(0.1s * 10);
}

.panel:nth-child(11) {
  --left: calc(var(--_width) * 10 * -1);
  --hue: calc(360 / 12 * 11);
  --delay: calc(0.1s * 11);
}

.panel:nth-child(12) {
  --left: calc(var(--_width) * 11 * -1);
  --hue: calc(360 / 12 * 12);
  --delay: calc(0.1s * 12);
}

/*  */
/*  */
/*  */
