:root {
  --clr-primary: 94, 91, 199;
  --clr-secondary: 248, 247, 252;
  --clr-accent: 180, 132, 133;
  --clr-background: 14, 13, 38;
}

body {
  background-color: rgba(var(--clr-background), 1);
  font-family: "Merriweather", serif;
}
